body {
    width: 50vw;
    justify-self: center;
}

#container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 5fr 1fr;
    justify-items: center;
    align-items: center;

    margin-top: 20px;
}

#left-arrow {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#slide-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#right-arrow {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#left-arrow, #right-arrow {
    font-size: 50px;
    background-color: inherit;
    border: solid 2px black;
    border-radius: 50%;
    padding: 0 20px;
}

#nav-dots {
    grid-column: 1 / 4;
    grid-row: 2 / 3;

    display: flex;
    justify-content: center;
    gap: 2px;
}

img {
    height: 300px;
    width: auto;
}

a {
    text-decoration: none;
    color: aqua;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: solid 5px black;
}

#unselected {
    background-color: white;
}

#selected {
    background-color: black;
}